In [21]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
# Method 1

In [8]:
from img2table.ocr import TextractOCR
from img2table.document import Image
import os
ocr = TextractOCR()

In [9]:
list_of_files = os.listdir("Image_dataset/")

In [8]:

for file in list_of_files:
    src ="./Image_Dataset/" + file
    # Instantiation of document, either an image or a PDF
    doc = Image(src)

    dest = './extract/'+ file[:-4]+'.xlsx' # storing in extract folder

    # Extraction of tables and creation of a xlsx file containing tables
    doc.to_xlsx(dest=dest,
                ocr=ocr,
                implicit_rows=True,
                borderless_tables=True,
                min_confidence=50)

In [ ]:
# Method 2

In [9]:
import tabula

pages=[7,5,29,31,32]
# Read the PDF file
pdf_file = "spotifyQ4.pdf"

for page in pages:
# convert PDF into CSV
    tabula.convert_into(pdf_file,'./extract_2/' +str(page)+".csv", output_format="csv",pages=page )

# convert all PDFs in a directory
#tabula.convert_into_by_batch("input_directory", output_format='csv', pages='all')

In [ ]:
# Method 3

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import PIL
import pytesseract
import os

In [3]:
print(pytesseract.get_languages())

['eng', 'osd', 'snum']

In [4]:
languages_ = "eng"

In [13]:

img_pl=PIL.Image.open('./image_dataset/'+list_of_files[0]) # You can use opencv for that option too

In [26]:
data = pytesseract.image_to_data(
                        img_pl, 
                        lang=languages_, 
                        output_type='data.frame' 
                       # config=special_config)
)

In [27]:
print(data)

     level  page_num  block_num  par_num  line_num  word_num  left  top  \
0        1         1          0        0         0         0     0    0
1        2         1          1        0         0         0    73   79
2        3         1          1        1         0         0    73   79
3        4         1          1        1         1         0    73   79
4        5         1          1        1         1         1    73   80
5        5         1          1        1         1         2   194   80
6        5         1          1        1         1         3   502   80
7        5         1          1        1         1         4   725   90
8        5         1          1        1         1         5   823   79
9        2         1          2        0         0         0    78  192
10       3         1          2        1         0         0    78  192
11       4         1          2        1         1         0    78  192
12       5         1          2        1         1         1    78  192
13       5         1          2        1         1         2   607  277
14       5         1          2        1         1         3  1008  277
15       2         1          3        0         0         0    78  420
16       3         1          3        1         0         0    78  420
17       4         1          3        1         1         0    78  420
18       5         1          3        1         1         1    78  420
19       5         1          3        1         1         2   740  504
20       2         1          4        0         0         0   412  614
21       3         1          4        1         0         0   412  614
22       4         1          4        1         1         0   412  614
23       5         1          4        1         1         1   412  614
24       2         1          5        0         0         0   863  638
25       3         1          5        1         0         0   863  638
26       4         1          5        1         1         0   863  638
27       5         1          5        1         1         1   863  642
28       5         1          5        1         1         2   985  638
29       2         1          6        0         0         0   342  192
30       3         1          6        1         0         0   342  192
31       4         1          6        1         1         0   707  192
32       5         1          6        1         1         1   707  192
33       5         1          6        1         1         2   835  195
34       5         1          6        1         1         3   860  202
35       5         1          6        1         1         4   937  191
36       5         1          6        1         1         5  1026  195
37       5         1          6        1         1         6  1053  202
38       4         1          6        1         2         0   342  239
39       5         1          6        1         2         1   342  239
40       5         1          6        1         2         2   435  239
41       5         1          6        1         2         3   495  239
42       5         1          6        1         2         4   588  239
43       5         1          6        1         2         5   713  239
44       4         1          6        1         3         0   342  286
45       5         1          6        1         3         1   342  286
46       5         1          6        1         3         2   444  282
47       5         1          6        1         3         3   556  282
48       5         1          6        1         3         4   642  286
49       5         1          6        1         3         5   972  286
50       3         1          6        2         0         0   342  413
51       4         1          6        2         1         0   708  413
52       5         1          6        2         1         1   708  413
53       5         1          6        2         1         2   859  417
54       5         1          6        2         1         3   890  417
55       5         1          6        2         1         4   937  417
56       5         1          6        2         1         5  1053  417
57       4         1          6        2         2         0   342  452
58       5         1          6        2         2         1   342  452
59       5         1          6        2         2         2   491  448
60       5         1          6        2         2         3   611  452
61       4         1          6        2         3         0   342  499
62       5         1          6        2         3         1   342  499
63       5         1          6        2         3         2   525  499
64       4         1          6        2         4         0   342  546
65       5         1          6        2         4         1   342  546
66       5         1          6        2         4         2   446  546
67       5         1          6        2         4         3   510  542
68       5         1          6        2         4         4   611  546
69       5         1          6        2         4         5   697  546
70       5         1          6        2         4         6   823  546
71       5         1          6        2         4         7   905  546
72       4         1          6        2         5         0   342  594
73       5         1          6        2         5         1   342  589
74       5         1          6        2         5         2   452  594
75       5         1          6        2         5         3   674  594
76       5         1          6        2         5         4   760  593
77       5         1          6        2         5         5  1138  594
78       4         1          6        2         6         0   342  642
79       5         1          6        2         6         1   342  642
80       5         1          6        2         6         2   445  638
81       5         1          6        2         6         3   539  642
82       5         1          6        2         6         4   886  642
83       5         1          6        2         6         5  1052  642
84       2         1          7        0         0         0   713  597
85       3         1          7        1         0         0   713  597
86       4         1          7        1         1         0   713  597
87       5         1          7        1         1         1   713  597
88       2         1          8        0         0         0   356  678
89       3         1          8        1         0         0   356  678
90       4         1          8        1         1         0   356  678
91       5         1          8        1         1         1   356  678
92       2         1          9        0         0         0    43  720
93       3         1          9        1         0         0    43  720
94       4         1          9        1         1         0    43  720
95       5         1          9        1         1         1    43  720
96       5         1          9        1         1         2   167  732
97       5         1          9        1         1         3   174  732
98       5         1          9        1         1         4   222  732
99       5         1          9        1         1         5   256  732
100      5         1          9        1         1         6   294  732
101      5         1          9        1         1         7   315  732
102      5         1          9        1         1         8   363  732
103      5         1          9        1         1         9   417  732
104      5         1          9        1         1        10   444  734
105      5         1          9        1         1        11   464  732
106      5         1          9        1         1        12   516  734
107      5         1          9        1         1        13   573  732
108      5         1          9        1         1        14   596  732
109      5         1          9        1         1        15   624  732
110      5         1          9        1         1        16   637  732
111      5         1          9        1         1        17   691  732
112      5         1          9        1         1        18   748  732
113      5         1          9        1         1        19   770  732
114      5         1          9        1         1        20   849  732
115      5         1          9        1         1        21   862  732
116      5         1          9        1         1        22   890  721
117      5         1          9        1         1        23   904  732
118      5         1          9        1         1        24   958  732
119      5         1          9        1         1        25  1003  732
120      5         1          9        1         1        26  1020  732
121      5         1          9        1         1        27  1072  732

     width  height       conf                                      text
0     1366     768  -1.000000                                       NaN
1     1006      54  -1.000000                                       NaN
2     1006      54  -1.000000                                       NaN
3     1006      54  -1.000000                                       NaN
4      100      53  96.382362                                       Key
5      289      53  95.282036                               Highlights:
6      204      42  96.598465                                   Actuals
7       75      32  96.151337                                       vs.
8      256      43  96.151337                                  Guidance
9      982     190  -1.000000                                       NaN
10     982     190  -1.000000                                       NaN
11     982     190  -1.000000                                       NaN
12     190     190  95.000000
13      75      34  95.000000
14      52      34  95.000000
15     673     190  -1.000000                                       NaN
16     673     190  -1.000000                                       NaN
17     673     190  -1.000000                                       NaN
18     190     190  95.000000
19      11      21  95.000000
20      21      13  -1.000000                                       NaN
21      21      13  -1.000000                                       NaN
22      21      13  -1.000000                                       NaN
23      21      13  95.000000
24     157       9  -1.000000                                       NaN
25     157       9  -1.000000                                       NaN
26     157       9  -1.000000                                       NaN
27      23       1  95.000000
28      35       9  95.000000
29     822     484  -1.000000                                       NaN
30     822     133  -1.000000                                       NaN
31     431      34  -1.000000                                       NaN
32      67      34  96.940414                                   Results
33       1      26  57.403694                                         |
34      71      15   0.000000                                    @22023
35      68      35   0.000000                                   Actuals
36       1      26  50.444679                                         |
37      85      14  90.363953                                  Guidance
38     805      34  -1.000000                                       NaN
39      85      34  88.780350                                  “Monthly
40      53      30  88.780350                                    Active
41      85      34  66.464249                                     Users
42     112       1   0.000000                                (M)—«=ssis
43     434      32   6.631844                                      Vest
44     782      39  -1.000000                                       NaN
45      89      35  75.218849                                  “Premium
46     106      53  85.076721                               Subscribers
47      41      53  58.341530                                      (Mm)
48     144      38   0.000000                               -s(“(iéBOVE
49     192      31  28.670013                                        IT
50     822     263  -1.000000                                       NaN
51     430      27  -1.000000                                       NaN
52      67      27  96.660004                                   Results
53      24      15  88.381371                                        Q2
54      41      14  96.452919                                      2023
55      68      14  96.705070                                   Actuals
56      85      14  96.180367                                  Guidance
57     805      34  -1.000000                                       NaN
58     192      34  61.032047                             “TotalRevenue
59      58      46   9.155968                                      (By)
60     536      30   0.000000  s—=<i«téiING:C“(<tti‘ti‘éCS:C*”*”*”*”!*C
61     782      35  -1.000000                                       NaN
62     146      35  50.296707                               “GrossMagin
63     639      34  33.821884                                        =A
64     822      36  -1.000000                                       NaN
65     100       1  46.263878                                 “Adjusted
66      52      32  46.263878                                     Gross
67      76      48  67.135880                                   Margin”
68      32       3   0.000000                                        ==
69     112      31   0.000000                              =S*«svdIN@S=
70      49       3   4.290993                                        ss
71     219      30   0.000000                         28SHSC*CSC*Ct«iiC
72     784      37  -1.000000                                       NaN
73     103      51  62.439632                                “operating
74     185      37   0.000000                          (Lossyincome(eM)
75       9       1  10.125496                                         =
76     278      36   0.000000            ==—st—=~=<CS*«EHTYSC“‘<‘“‘éwRE
77      26       1   0.000000                                  QOY:C~*#
78     822      34  -1.000000                                       NaN
79      96       1  50.620056                                 “Adjusted
80      85      46  96.319946                                 Operating
81     161      34  53.140572                                     (Loss
82      89      34   0.000000                                   “(€112)
83      74      34  37.044567                                   “(€129)
84      58      76  -1.000000                                       NaN
85      58      76  -1.000000                                       NaN
86      58      76  -1.000000                                       NaN
87      58      76  95.000000
88      75      14  -1.000000                                       NaN
89      75      14  -1.000000                                       NaN
90      75      14  -1.000000                                       NaN
91      75      14  91.399788                                   Income*
92    1084      33  -1.000000                                       NaN
93    1084      33  -1.000000                                       NaN
94    1084      33  -1.000000                                       NaN
95      83      33  43.394161                                  @spotity
96       3       4  72.367973                                         *
97      44      10  90.808060                                  Adjusted
98      30       8  92.512024                                     Gross
99      34      10  96.922249                                    Margin
100     18       8  95.471527                                       and
101     44      10  95.471527                                  Adjusted
102     49      10  96.893066                                 Operating
103     23       8  90.235275                                      Loss
104     16       6  93.289825                                       are
105     48       8  87.616364                                  non-IFRS
106     49       6  94.803024                                 measures.
107     19       8  94.483284                                       See
108     24       8  95.058914                                      "Use
109      9       8  93.305946                                        of
110     49       8  90.405533                                  Non-IFRS
111     53       8  87.894951                                 Measures”
112     18       8  96.857491                                       and
113     75       8  67.923065                           “Reconciliation
114     10       8  97.002930                                        of
115     24       8  92.399902                                      IFRS
116     11      27  92.399902                                        to
117     49       8  90.880516                                  Non-IFRS
118     41       8  92.630852                                  Results"
119     13       8  96.999977                                       for
120     48       8  92.047783                                additional
121     55       8  95.313919                              information.

In [28]:
def optimizeDf(old_df: pd.DataFrame) -> pd.DataFrame:
    df = old_df[["left", "top", "width", "text"]]
    df['left+width'] = df['left'] + df['width']
    df = df.sort_values(by=['top'], ascending=True)
    df = df.groupby(['top', 'left+width'], sort=False)['text'].sum().unstack('left+width')
    df = df.reindex(sorted(df.columns), axis=1).dropna(how='all').dropna(axis='columns', how='all')
    df = df.fillna('')
    return df

data_imp_sort = optimizeDf(data)

/var/folders/qj/rbyl_gdj7xn3ycgcxjpvn5080000gn/T/ipykernel_1772/4046707033.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['left+width'] = df['left'] + df['width']

In [31]:
def mergeDfColumns(old_df: pd.DataFrame, threshold: int = 10, rotations: int = 5) -> pd.DataFrame:
  df = old_df.copy()
  for j in range(0, rotations):
    new_columns = {}
    old_columns = df.columns
    i = 0
    while i < len(old_columns):
      if i < len(old_columns) - 1:
        # If the difference between consecutive column names is less than the threshold
        if any(old_columns[i+1] == old_columns[i] + x for x in range(1, threshold)):
          new_col = df[old_columns[i]].astype(str) + df[old_columns[i+1]].astype(str)
          new_columns[old_columns[i+1]] = new_col
          i = i + 1
        else: # If the difference between consecutive column names is greater than or equal to the threshold
          new_columns[old_columns[i]] = df[old_columns[i]]
      else: # If the current column is the last column
        new_columns[old_columns[i]] = df[old_columns[i]]
      i += 1
    df = pd.DataFrame.from_dict(new_columns).replace('', np.nan).dropna(axis='columns', how='all')
  return df.replace(np.nan, '')

def mergeDfRows(old_df: pd.DataFrame, threshold: int = 10) -> pd.DataFrame:
    new_df = old_df.iloc[:1]
    for i in range(1, len(old_df)):
        # If the difference between consecutive index values is less than the threshold
        if abs(old_df.index[i] - old_df.index[i - 1]) < threshold: 
            new_df.iloc[-1] = new_df.iloc[-1].astype(str) + old_df.iloc[i].astype(str)
        else: # If the difference is greater than the threshold, append the current row
            new_df = new_df._append(old_df.iloc[i])
    return new_df.reset_index(drop=True)
    
df_new_col = mergeDfColumns(data_imp_sort)
merged_row_df = mergeDfRows(df_new_col)

In [32]:
print(merged_row_df)

        126  173       218    252  268     290  312       359        412   \
0
1             Key
2
3
4
5
6
7
8
9
10
11
12
13
14  @spotity
15              *  Adjusted  Gross       Margin  and  Adjusted  Operating

                                                 445  460          488   \
0                                        nannannannan
1                            nannannannannannannannan       Highlights:
2                                        nannannannan
3    nannannannannannannannannannannannannannannannan
4                                   “Monthlynannannan            Active
5           nannannannannannannannan“Premiumnannannan
6                nannannannannannannannannannannannan
7                            nannannannannannannannan
8                            nannannannannannannannan       “GrossMagin
9                      nannannannannannan“Adjustednan
10  nannannan“operatingnannannannannannannannannan...
11                                         nan nannan
12                     nannannannannan“Adjustednannan
13                                   Income*nannannan
14                           nannannannannannannannan
15                          nannanLossnannannannannan  are

     498       512            534          550        565      586   597   \
0
1
2
3
4                                                             Users
5                                   Subscribers                      (Mm)
6
7                    “TotalRevenue         (By)
8
9   Gross                                                   Margin”
10
11
12                       Operating
13
14
15         non-IFRS                              measures.            See

    620                                    643                       686   \
0                                        nannan                    nannan
1                                  nannannannan              nannannannan
2                                        nannan                    nannan
3                      nannannannannannannannan  nannannannannannannannan
4                                        nannan                    nannan
5                            nannannannannannan           nannannannannan
6                            nannannannannannan        nannannannannannan
7                                  nannannannan              nannannannan
8                                  nannannannan              nannannannan
9                                   nannannan==              nannannannan
10        nannannannan(Lossyincome(eM)nannannan    nannannannan=nannannan
11                                       nannan                    nannan
12                                 nannannannan              nannannannan
13                                       nannan                    nannan
14                                 nannannannan              nannannannan
15  "Use                            ofnannannan         nanNon-IFRSnannan

          706        751                           775          786   \
0                                                nannan
1      Actuals                             nannannannan
2                                                nannan
3                          nannannanResultsnannannannan
4   (M)—«=ssis                                   nannan
5                                    nannannannannannan  -s(“(iéBOVE
6                       0        nanResultsnannannannan
7                                          nannannannan
8                                          nannannannan
9                                          nannannannan
10                               nannannannannannan nan
11                                               nannan
12       (Loss                             nannannannan
13                                               nannan
14                                         nannannannan
15              Measures”                  andnannannan

            809              845  859  872   886  901     931       953   \
0
1
2            vs.
3                               |                       @22023
4
5
6                                              Q2         2023
7
8
9   =S*«svdIN@S=                         ss
10
11
12
13
14                                                  to
15                “Reconciliation   of       IFRS               Non-IFRS

       975       1005                      1027  \
0                                        nannan
1                                  nannannannan
2                                        nannan
3             Actuals    nannannannannan|nannan
4                                        nannan
5                            nannannannannannan
6             Actuals        nannannannannannan
7                                  nannannannan
8                                  nannannannan
9                                  nannannannan
10                     nannannannannannannannan
11                                       nannan
12  “(€112)                           nannannan
13                                       nannan
14                                 nannannannan
15           Results"              fornannannan

                              1038        1068      1079  \
0
1                                               Guidance
2
3                                            0
4
5
6
7
8
9
10  ==—st—=~=<CS*«EHTYSC“‘<‘“‘éwRE
11
12
13
14
15                                  additional

                          1127                                      1147  \
0                       nannan
1                 nannannannan
2                       nannan
3     nannannannannannannannan                                 0Guidance
4                       nannan                                      Vest
5             nannannannan0nan
6           nannannannannannan                                 0Guidance
7                 nannannannan  s—=<i«téiING:C“(<tti‘ti‘éCS:C*”*”*”*”!*C
8                   0nannannan
9   nannan28SHSC*CSC*Ct«iiCnan
10      nannannannan0nannannan
11                      nannan
12            nannan“(€129)nan
13                      nannan
14                  nan0nannan
15       naninformation.nannan

        1164 1366
0             0.0
1
2
3          0
4
5         IT
6          0
7
8         =A
9          0
10  QOY:C~*#
11
12         0
13
14
15